<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <script src="/main.js"></script>
        <title>Test</title>
    </head>

    <body>
    <header>
        <div class="logo">
            <!-- Add your logo here -->
            Logo
        </div>
        <nav>
            <!-- Add navigation items here if necessary -->
            Navigation
        </nav>
    </header>

    <main>
        <section>
            <h1>Enter Article URL for Sentiment Analysis</h1>
            <form id="form" class="form" onsubmit="return handleSubmit(event)">
                <label for="URL">Article URL:</label>
                <input id="URL" type="text" name="inputURL" value="" placeholder="Enter your URL here">
                <input type="submit" value="Submit">
            </form>
        </section>

        <section class="results-outer">
            <div class="results">
                <strong>Evaluation Results:</strong>
                <p>your request was:</p>
                <div id="results"></div>
            </div>
        </section>
    </main>

    <footer>
        <p>This is a footer</p>
    </footer>
    </body>
</html>
